<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <h1>Have fun! 🥔</h1>

  <nav>
    <ul>
        <li> <a href="/create-quiz"> Create Quiz </a> </li>
        <li> <a href="/prior-quiz-results"> Prior Quiz Results </a> </li>         
        
    </ul>
</nav>    

<h1>Welcome to the Quiz App</h1>
<p>This is the place to test your knowledge!</p>


<div id="public-quizzes">
    <h2>Prior Quizzes</h2>
    <ul>
      <li><a href="/quiz/1">Quiz 1</a></li>
      <li><a href="/quiz/2">Quiz 2</a></li>
      <li><a href="/quiz/3">Quiz 3</a></li>
      <li><a href="/quiz/4">Quiz 4</a></li>
    </ul>
</div>



</body>

</html>